.bq {
    background-color: gray;
    text-align: center;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;

}

h2 {
    width: 100vw;
    border-bottom: 1px solid black;
}

.parrafo1 {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: medium;
}

blockquote {
    width: vw;
    height: 2rem;
    background-color: rgb(240, 235, 235);
    text-align: left;
}

.box1 {
    width: vw;
    height: 50px;
    padding: 0.5rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 5px 4px 10px 2px black;
    border: 1px solid black;
}

.box2 {
    width: vw;
    height: 50px;
    padding: 0.5rem;
    margin-left: 2rem;
    background-color: rgb(196, 104, 104);
    border-radius: 0.3rem;
    box-shadow: 5px 4px 10px 2px black;
    border: 5px solid black;
}

.relativo {
    height: 2.5rem;
    position: relative;
    background-color: rgb(173, 208, 212);
    padding: .5rem;
    top: 1rem;
    left: 1rem;
    border-radius: .2rem;
    margin-bottom: 5rem;
}

.absoluto {
    height: 3rem;
    width: 40vw;
    position: relative;
    background-color: rgb(64, 182, 211);
    padding: .3rem;
    left: 50vw;
    border-radius: .2rem;
    bottom: 1rem;
}


.grid-container {
    background- color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    top: 1rem;
    padding: 10px;
}


.grid-item {
    background-color: #abb8d1;
    text-align: center;
    border-radius: .3rem;
    padding: .5rem;
}

@media screen and (max-width:768px) {
    body {
        background-color: rgb(192, 154, 228);
    }

}

.animacion {
    width: 200px;
    height: 200px;
    background-color: crimson;
    transition: 0.5s;
    border: 1px solid black;
}

.animacion:hover {
    cursor: pointer;
    background-color: darkcyan;
}

.mover {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: 5rem;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    animation: moverIzqDer 3s linear infinite;
}

@keyframes moverIzqDer {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 50px);
    }

    100% {
        left: 0;
    }
}